<hibernate-configuration>
    <session-factory>
        <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/iss</property>
        <property name = "hibernate.connection.username">${DB_USERNAME}</property>
        <property name = "hibernate.connection.password">${DB_PASSWORD}</property>
        <property name = "hibernate.show_sql">false</property>
        <property name = "hibernate.hbm2ddl.auto">update</property>
    </session-factory>
</hibernate-configuration>
